<div><br>
<div class="font_xxlarge"><h2>Please select an option</h2></div>
<br><br>
<div class="font_xxlarge">
<%= link_to "Create A playlist", new_playlist_path %><br>
<br><br><br>

<%= link_to "Join A playlist", join_playlist_path %></div>
<br><br><br>
<a href="http://localhost:3000/">
  <div class="gallery"><img></div>
</div>
