

body {

  background-image: image-url('geekpic.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #3498db;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  // font-size: 20px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 30px;

//   .center {
//     border: 3px solid green;
//     text-align: center;
// }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #0D47A1;
  }

  &:hover {
    color: #90CAF9;

  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}


div.gallery {

  background-image: image-url("logo.png");
  background-size: 100%;
  background-repeat: no-repeat;

    display: block;

   // margin: auto 20px;
   float: right;
   width: 150px;
   height: 38px;
   border-radius: 3%;

}

div.gallery:hover {
    border: 1px solid #777;
}

div {

  &.field, &.actions {
    margin-bottom: 10px;
  }

  // img {
  //   background-image: image-url("logo.png");
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   position: absolute;
  //   width: 20%;
  //   height: 20%;
  //   left: 0px;
  //   top: 0px;
  //   z-index: -1;
  // }
  .login_div {
   position: absolute;

   width: 20%;
   height: 50%;

   /* Center form on page horizontally & vertically */
   top: 35%;
   left: 35%;
    right: 35%;
   botton: 35%;
   margin: 10px;

}

  .login_form {
   // display: flex;
   width: 22%;
   height: 30%;
   padding: 45%;
   padding-bottom: 5%;
   padding-top: 4%;
   // padding-left: 9%;

  text-align: left;

   background: white;
   border-radius: 10px;
   vertical-align: middle;
   horizontal-align: middle;
   margin: auto;

 }

 .font_small {
    font-size:small;
  }
  .font_medium {
    font-size:medium;
  }
  .font_large{
    font-size:large;
  }

  .font_xlarge{
    font-size:x-large;
  }
  .font_xxlarge {
    font-size:xx-large;
  }
}
.container {
    max-width: 1200px;
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
div.text {
  font-size: xx-large;
  background-color: #f2f2f2;
  text-align: center;
}
  // {background-image: image-url('fire_breathing2.jpeg');
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  // }
