// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url('picture1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  color: #333;
  margin: 40px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;

}


div.gallery {
  background-image: image-url("logo.png");
  background-size: 100%;
  background-repeat: no-repeat;

    display: block;
   margin: auto 2%;
   width: 4%;
   height: 8%;
   border-radius: 3%;
}

div.gallery:hover {
    border: 1px solid #777;
}


// <a target="_blank" href="http://localhost:3000/" >
//   <div class="gallery"><img></div>
div {

  font-family:"Comic Sans MS", Comic Sans, cursive;
  // " Chalkduster", fantasy;
  text-align: center;
.font_small {
   font-size:small;
   color: black;
 }
 .font_medium {
   font-size:medium;
   color: black;
 }
 .font_large{
   font-size:large;
 }

 .font_xlarge{
   font-size:x-large;
 }
 .font_xxlarge {
   font-size:xx-large;
   color: #303034;
 }

 div.text {
   font-size: large;
   // background-color: #f2f2f2;
   text-align: center;
 }
}
div.wrapper {

  border:1px solid black;
  padding-right: 5%;
  background-color: #f2f2f2;
  padding-right: 2%;
  padding-bottom: 25%;

  position:fixed;
   top: 20%;
   left: 50%;
   width:30em;
   height:18em;
   margin-top: -9em; /*set to a negative number 1/2 of your height*/
   margin-left: -15em; /*set to a negative number 1/2 of your width*/
   border: 1px solid #ccc;
   background-color: #f3f3f3;
}


input[type="text"] {
     display: block;
     margin : 0 auto;
}
