
<!DOCTYPE html>
<html>
<style>
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2%;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #ff5252;
    color: white;
    padding: 5%;
     /* 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d50000;
}

div {
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 3%;
  text-align: left;
}
</style>
  <body>

    <div class="wrapper">
      <h2>Add a Song to Your Playlist</h2><br>

      <%if @user.playlist.songs.any? %>

      <%@user.playlist.songs.each do |song|%>
        <%=song.title%>
        by <%=song.artist_name%>

        <%end%>
        <br>
         <%= link_to "Add a song", new_song_path%>
        <%end%>

      </div>
     
      <div class="gallery" link_to "http://localhost:3000/"></div>
</body>
</html>
